# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Videos and media
*.mp4
*.avi
*.mkv
*.mov
*.srt

# IDEs and Editors
.vscode/
.idea/
*.swp
*.swo

# Project specific logs
runs/
